head{
	text-align: center;
 
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	color:#0101DF;
}
button{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    position: center;
} 
#capa{
	position: relative;
  	opacity: 0.95;
  	text-align: center;
	border: 3px solid black;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
  	background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a); 
  	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
  	/* rounded corner */
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
 	/* box shadow */
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
   box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   transition: all 1s ease;
}
#botones
{
	padding-top: 90px;

	position: relative;
  	opacity: 0.95;
  	text-align: center;
	border: 3px solid black;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
  	background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a); 
  	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
  	/* rounded corner */
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
 	/* box shadow */
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
   box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   transition: all 1s ease;
   height: 400px;
}